#Leadership_List{

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:stretch;
  flex-wrap: wrap;
}

.Person{

  margin: 30px;
  background-color: white;
  width: 400px;
  height: 550px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
  border-radius: 5px;


}

.Leadership_Name{
  font-size: 200%;
  margin: 20px 10px 5px 5px;
}
.Leadership_Role{
  font-size: 150%;
  font-style: italic;
  margin: 5px 0px 5px 5px;

}

.Leadership_Photo{
  width: 90%;
  height: 75%;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5%;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

#Leadership_Info{
  font-size: 150%;
  margin: 3% 10% 3% 10%;
}
