body{
  margin: 0;
  background-color: #4fb0c6;
}
#main_body{

}

/* Navagation Bar Style */
.Title{
  font-family: sans-serif;
  font-size: 225%;
  font-weight: bold;
  color: #3a2513;
  background-color: lightblue;
}
.subtitle{
  font-size: 75%;
}
.Big_Letter{
  font-size: 150%;
  font-weight: normal;
  font-style: italic;
}

.Menu_Bar{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  background-color: #379392;
  border-bottom: 3px solid #003151;

  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.Menu_Option{
  font-family: sans-serif;

  font-size: 150%;
  padding: 5px 10px 5px 10px;
  border-top: 3px solid #003151;

  border-right: 5px solid #377E93;

  flex-grow: 1;

}

a{
  color: #3a2513;
}
